<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div class="container">
  <div id="app">
    <p>Hello {{message}}</p>
    {{message}}
    <input v-model='message' placeholder='edit me'>
    <p v-if="animal=='dog'">Dog goes woof!</p>
    <p v-else-if="animal=='cat'">Cat goes MEOW!</p>
    <p v-else >'What does the {{ animal }} say?'</p>
    <ul>
      <li v-for="food in favfoods">{{ food }}</li>
    </ul>
    <div v-for="user in users" :key="user.name">
      <h2>{{ user.name }}</h2>
      <ul>
        <li v-for="hobbie in user.hobbies" :key="hobbies">{{ hobbie }}</li>
      </ul>
    </div>

    <p v-for="candidate in  candidates">{{  candidate.name }}: {{ candidate.votes}}</p>
      <button @click="addVote(cadidate)">VOTE</button>
      <form>
        Add candidate: <input name=cname" v-model="name"/><button @click.prevent="addCandidate" />
      </form>
    </div>

    </div>
  </div>
</div>

<script>
    new Vue({
      el: '#app',
      data: {
        message: 'Hello world',
        animal: "llama",
        favfoods: [
          "pizza",
          "banana",
          "meat"
        ],
        users: [
          {name: "Jen", hobbies: ["coding", "biking","film making"]},
          {name: "Lars", hobbies: ["coding", "biking","ham radio"]},
          {name: "Friendly", hobbies: ["sleeping","eating","stretching"]},
          {name: "Pikku", hobbies: ["sleeping", "eating","hiding"]}
        ],
        planets: [
          
      ]
      }
    })
  </script>
</body>
</html>
